/* Clayton Novotney Matt Selden
Coding Dojo
June 27th 2018
HTML/CSS/ JQuery
GitHub Practice
CSS page */

#container{
    background: black;
    width: 1350px;
    height: 650px;
    border: 15px solid grey;
    background-size: 1350px 651px;
}

.square{
    width: 340px;
    height: 170px;
    background: rgba(163, 164, 166, 0.8);
    border-radius: 10px;
    border: 5px solid grey;
    display: inline-block;
    vertical-align: 50%;
    margin: 100px;
    position: relative;
    top: 6%;
    left: 30%;
    padding: 27px;
}

#square2{
    padding: 27px 0px 27px 27px;
}

.title{
    margin: 0px 30px 10px;
    text-shadow: 2px 2px white;
    color: #EBA40B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
}

.box{
    background: #FFFFFF;
    width: 85px;
    height: 29px;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    margin: 2px;
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown{
    display: inline-block;
    margin: 0px 20px;
}

.btn{
    background-color: white;
}

.playerpic{
    height: 244px;
    width: 157px;
    background-size: 157px 244px;
    display: inline-block;
    position: relative;
    top: 360px;
}

#player1{
    right: 260px;
}

#player2{
    left: 200px;
}