/* Clayton Novotney Matt Selden
Coding Dojo
June 27th 2018
HTML/CSS/ JQuery
GitHub Practice
CSS page */

#container{
    background: black;
    width: 1350px;
    height: 650px;
    border: 15px solid grey;
}

.square{
    width: 288px;
    height: 165px;
    background: #A3A4A6;
    border-radius: 10px;
    border: 5px solid grey;
    display: inline-block;
    vertical-align: 50%;
    margin: 100px;
    position: relative;
    top: 6%;
    left: 30%;
    padding: 15px;
}

.title{
    margin-left: 20%;
    text-shadow: 2px 2px white;
    color:#EBA40B;
}

.box{
    background: lightGrey;
    width: 85px;
    height: 30px;
    display: inline-block;
    border-radius: 6px;
    position: center;
    text-align: center;
    margin: 3px;
    padding-top: 5px;
}