/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    outline: 1px red solid;
   }

/* GENERAL CONTAINER SETTINGS */

.container{
    width: 970px;
    height: 500px;
    padding:100px 0px 0px 350px;
    background-color: black;
    border: 3px solid grey;

}

.content{
    background-color: black;
    display: inline-block;
}

.home{
    width:400px;
    height:200px;
    background-color: grey;
    border: 3px solid darkgray;
    border-radius: 10px;

}

h2{
    text-align: center;
    color: orange;
    text-shadow: 1px 1px white;
}

.button1, .button2, .button3, .button4, .button5, .button6{
    display: inline-block;
    width: 130px;
    height: 30px;
    text-align: center;
    padding-top: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
}